In [6]:
f = open("file.txt", "a")
f.write("hahahhahahah")
f.close()
f = open("file.txt", "r")
print(f.read())

A
B
C
C

hahahahhahahahahahhahahahahahhahahahahhahahah

In [10]:
f=open("temsp.txt", "x")
f.close()

In [13]:
import os
if os.path.exists("temp.txt"):  
    os.remove("temp.txt")
else:
    print("already deleted")

already deleted

In [16]:
import pandas as pd

In [17]:
my_dict = {
    "name": ["tejas", "ronaldo", "messi"],
    "age": [21, 23, 23],
    "subject": ["physics", "physics", "maths"]
}

final_dict = pd.DataFrame(my_dict)
final_dict

      name  age  subject
0    tejas   21  physics
1  ronaldo   23  physics
2    messi   23    maths